.customButton{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-style: solid;
  background-color: #000;
  transition: 0.3s;
  border-color: #000;
  color: #fff;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}
.googleButton{
  &:hover{
    background-color: #fff !important;
    color: #4f83fb !important;
  }
}