@import "../../style/style";
.containerTopNav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 998;
    .topNav{
        height: 4.5em;
        box-sizing: border-box;
        &__logo{
            display: block;
            position: absolute;
            left: 1em;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            img{
                height: 2em;
                margin: 0;
                max-width: 6.25em;
            }
        }
        &__links{
            display: none;
            &__signOut{
                display: block;
                margin-left: 1em;
                padding: 0.5em;
                transition: 0.3s;
                box-sizing: border-box;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                &:hover, &:focus{
                    background-color: #e5e5e5;
                    text-decoration-line: none;
                }
            }
        }
        &__function{
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            &__search, &__toggleNav, &__cart{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2em;
                height: 2em;
                border: none;
                background: transparent;
                outline: none;
                padding: 0;
                margin-left: 1em;
            }
            &__toggleNav{
                border-style: solid;
                border-width: 0.01em;
            }
            &__icon{
                font-size: 1.25em;
                margin: 0;
            }
        }
        @include md{
            padding: 1em;
            display: grid;
            grid-template-columns: fit-content(100%) auto fit-content(100%);
            &__logo{
                position: unset;
                transform: unset;
                align-self: center;
            }
            &__links{
                justify-self: right;
                display: flex;
                align-self: center;
                margin-right: 2em;
            }
            &__function{
                justify-self: right;
                align-self: center;
                position: unset;
                transform: unset;
                &__toggleNav{
                    display: none;
                }
            }
        }
        @include xl{
            padding-left: 0;
            padding-right: 0;
            width: $xl;
            margin: auto;
        }
    }
}