@import "../../style/style";
.linkDropDown{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  a{
    display: block;
    margin-left: 1em;
    padding: 0.5em;
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    &:hover, &:focus{
      background-color: #e5e5e5;
      text-decoration-line: none;
    }
  }
  &__containers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
    min-width: 250px;
    z-index: 999;
    a{
      padding: 1em;
      margin: 0;
      width: 100%;
    }
  }
}