@import "../../style/style";
.signInSignUp{
  box-sizing: border-box;
  padding: 1em;
  background-color: #fff;
  margin-top: 1em !important;
  transition: 0.3s;
  @include lg{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
  @include xl{
    width: $xl+2em;
    margin: auto;
    border-radius: 5px;
  }
}