
@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}
@mixin xl{
    @media (min-width: #{$xl}){
        @content;
    }
}

@mixin shrinkLabel(){
    top: 0.5em;
    font-size: 1em;
    color: #000;
}