@import '../../style/style';

.formGroup{
  position: relative;
  &__input{
    width: 100%;
    margin-top: 2em;
    border-width: 0 0 1px 0;
    position: relative;
    outline: none;
    z-index: 2;
    background-color: transparent;
    &:focus ~ .formGroup__label{
      @include shrinkLabel;
    }
  }
  &__label{
    position: absolute;
    left: 0;
    top: 2.5em;
    transition: 0.3s;
    color: $muted;
    font-size: 0.8em;
    z-index: 1;
  }
}