@import "../../style/style";
.toggleNav{
  background: #fff;
  position: fixed;
  height: 100%;
  right: 0;
  z-index: 999;
  top: 0;
  overflow-x: hidden;
  transition: 0.3s;
  box-sizing: border-box;
  &__close{
    float: left;
    background: transparent;
    border: none;
    color: #000;
    margin-top: 1em;
  }
}